POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

REDIS_HOST=
REDIS_PORT=
REDIS_URL=
REDIS_PASSWORD=

JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_MS= 
JWT_REFRESH_TOKEN_EXPIRATION_MS=
BCRYPT_SALT_ROUNDS=

THROTTLE_SHORT_TTL=
THROTTLE_SHORT_LIMIT=
THROTTLE_MEDIUM_TTL=
THROTTLE_MEDIUM_LIMIT=
THROTTLE_LONG_TTL=
THROTTLE_LONG_LIMIT=

PORT=

DATABASE_URL=