# Database
POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password
JWT_ACCESS_SECRET=jwt_access_token_secret
JWT_REFRESH_SECRET=jwt_refresh_token_secret
JWT_ACCESS_EXPIRES_IN=jwt_access_token_expiration_time(minutes)
JWT_REFRESH_EXPIRES_IN=jwt_refresh_token_expiration_time(days)

# Prisma
DATABASE_URL="postgresql://your_database_user:your_database_password@localhost:5432/your_database_name?schema=public"
