POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

REDIS_HOST=
REDIS_PORT=
REDIS_URL=
REDIS_PASSWORD=

JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_MS= 
JWT_REFRESH_TOKEN_EXPIRATION_MS=
BCRYPT_SALT_ROUNDS=

PORT=

DATABASE_URL=